.csconfig/
_configuration.mk

**/__pycache__/
*.pyc

bin/

**/*.o
**/*.d

test/000-test-main

tracer/pin/obj-intel64/

vcpkg_installed/

**/_build
**/_doxygen

absolute.options
**/legacy.options
**/function_patch.options
**/legacy_bridge.inc
**/legacy_bridge.h
**/legacy_bridge.cc

.cache/
compile_commands.json

.vscode/
**/.DS_Store

# Local course project additions
ucas-oop-master/
vcpkg/
vcpkg_installed/
traces/*.champsimtrace
traces/*.champsimtrace.*
results/
MIGRATION_VERIFIED.txt

# Runtime logs
*.log
*.log.*

